---
import Menu from '../../react/Menu'

---
<div class="chuanyang-header">
    <a class="logo-title" href="/">
        <!-- <img src="{{ site.logo }}" alt="logo" class="logo"> -->
        <h1>chuanyang</h1>
    </a>
    <div class="nav">
        <Menu client:load />
    </div>
    <div class="tools">
        

    </div>

</div>

<style lang="stylus">
    .chuanyang-header
        width: 100%;
        height:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .logo-title
            display: flex;
            align-items: center;
            width: 150px;
            h1
                font-size: 24px;
                font-weight: 700;
                color: #333;
        .nav
            display: flex;
            align-items: center;
            flex:1;
        .tools
            width: 150px;
            display: flex;
            align-items: center;
</style>