---
const {title} = Astro.props
import '../../styles/global.less'
import '../../icons/font/iconfont.css'
import globalData from '@/models/useGlobalData'
Astro.data = globalData
console.log('Astro.locals.data', Astro.locals.data);


---
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
</head>