---

---

<div class="quote-swiper">
    <div class="left">
        <i class="icon icon-notification" style="font-size: 25px;"></i>
    </div>
    <div class="swiper-container">
        <p>内容。。。。。。。</p>
    </div>
</div>

<style lang="less" scoped>
.quote-swiper {
height: 48px;
background-color: #f5f5f5;
border-radius: 12px;
display: flex;
align-items: center;
.left{
    margin: 0 10px;
}
    .swiper-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quote {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .author {
        margin-top: 20px;
        font-weight: bold;
    }
}
</style>