---
import {indexConfig} from '../globalConfig'
import Head from '../components/astro/Head.astro'
const {title = indexConfig.defaultTitle} = Astro.props
---
<html lang="zh" data-chuanyang-blog data-theme="dark">
    <Head title={title} />
<body>
<slot></slot>
</body>
</html>
